In [1]:
# Data manipulation packages
import pandas as pd  # Pandas provides data structures for efficiently storing large datasets and tools for data analysis.
import numpy as np   # NumPy is used for numerical operations and array manipulations.

# Data Visualization packages
import matplotlib.pyplot as plt  # Matplotlib is a 2D plotting library for creating static, animated, and interactive visualizations in Python.
import seaborn as sns  # Seaborn is a statistical data visualization library based on Matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

# Machine learning Packages
from sklearn.pipeline import Pipeline  
from sklearn.compose import ColumnTransformer  # ColumnTransformer allows applying different transformers to different columns in a dataset.
from sklearn.impute import SimpleImputer  # SimpleImputer is used for handling missing data by imputing missing values with specified strategies.
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler  # These classes provide different methods for scaling/normalizing numerical features.
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder  # These classes handle categorical feature encoding (one-hot, label, and ordinal encoding).
from sklearn.preprocessing import FunctionTransformer  # FunctionTransformer allows applying custom functions to transform data.
from sklearn.tree import DecisionTreeClassifier  # DecisionTreeClassifier is an implementation of a decision tree classifier.
from sklearn.metrics import accuracy_score, classification_report  # These metrics are used for evaluating classification model performance.
from sklearn.model_selection import train_test_split  # train_test_split is used to split a dataset into training and testing sets.
from sklearn import set_config  # set_config allows configuring global scikit-learn behavior.
from sklearn.ensemble import RandomForestClassifier  # RandomForestClassifier is an ensemble learning method based on decision trees.
from sklearn.svm import SVC  # Support Vector Classifier (SVC) is a classifier that uses support vector machines for classification.
from sklearn.preprocessing import PowerTransformer  # PowerTransformer applies power transformations to make data more Gaussian-like.
from sklearn.naive_bayes import GaussianNB  # Gaussian Naive Bayes is a probabilistic classifier based on the Gaussian distribution.
from sklearn.ensemble import GradientBoostingClassifier  # GradientBoostingClassifier is an ensemble method that builds a sequence of weak learners (trees).
from scipy.stats import pearsonr  # Pearson correlation coefficient measures the linear relationship between two variables.
from sklearn.model_selection import cross_val_score  # cross_val_score is used for cross-validated model performance evaluation.
from imblearn.under_sampling import RandomUnderSampler  # RandomUnderSampler is used for under-sampling to address class imbalance.
from imblearn.over_sampling import RandomOverSampler, SMOTE  # RandomOverSampler and SMOTE are used for over-sampling to address class imbalance.
from sklearn.feature_selection import SelectKBest, mutual_info_classif  # SelectKBest performs feature selection based on scoring functions like mutual information.
from imblearn.over_sampling import SMOTE  # SMOTE is a technique for generating synthetic samples to address class imbalance.
from sklearn.datasets import make_classification  # make_classification generates a synthetic dataset for classification.
from sklearn.metrics import roc_curve, roc_auc_score  # roc_curve and roc_auc_score are used for Receiver Operating Characteristic (ROC) curve analysis.
from sklearn.metrics import confusion_matrix  # confusion_matrix calculates the confusion matrix for classification models.
from sklearn.model_selection import GridSearchCV  # GridSearchCV performs hyperparameter tuning using grid search.

# Database connection package
import pyodbc  # PyODBC is a Python module that makes accessing ODBC databases simple.
from dotenv import dotenv_values  # dotenv loads environment variables from a .env file.

# Ignore warnings (optional)
import warnings  # The warnings module provides a way to handle warnings in Python.
warnings.filterwarnings("ignore")

# Step 1: Data Connection & Importation

In [2]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server_name")
database = environment_variables.get("database_name")
username = environment_variables.get("username")
password = environment_variables.get("password")

In [3]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinP"

In [4]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server 


connection = pyodbc.connect(connection_string)

In [5]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = "SELECT * FROM dbo.oil"

oil_table = pd.read_sql(query, connection)

#Holiday_events table 

query = "SELECT * FROM dbo.holidays_events"

holiday_events = pd.read_sql(query, connection)

#Stores Table

query = "SELECT * FROM dbo.stores"

stores_table = pd.read_sql(query, connection)

In [6]:
# Load the third dataset (it's a CSV file named 'test', 'transaction', 'sample_submission')

test_data = pd.read_csv('test.csv')

transaction_data = pd.read_csv('transactions.csv')

sample_data = pd.read_csv('sample_submission.csv')

# Step 1: Data Exploration and Understanding

In [19]:

# Display summary statistics for the 'object' columns in holiday_events
holiday_summary = holiday_events.describe(include='object').T

# Display summary statistics for the 'object' columns in stores_table
stores_summary = stores_table.describe(include='object').T

# Display summary statistics for the 'object' columns in oil_table
oil_summary = oil_table.describe(include='object').T

# Display the results
print("Holiday Events Summary:")
display(holiday_summary)
print ('=' * 50)
print("Stores Summary:")
display(stores_summary)
print ('=' * 50)
print("Oil Summary:")
display(oil_summary)

Holiday Events Summary:

            count unique         top freq
date          350    312  2014-06-25    4
type          350      6     Holiday  221
locale        350      3    National  174
locale_name   350     24     Ecuador  174
description   350    103    Carnaval   10

==================================================
Stores Summary:

      count unique        top freq
city     54     22      Quito   18
state    54     16  Pichincha   19
type     54      5          D   18

==================================================
Oil Summary:

     count unique         top freq
date  1218   1218  2013-01-01    1

In [21]:

# Display info for holiday_events
print("Holiday Events Info:")
print ('=' * 50)
holiday_events_info = holiday_events.info()
display(holiday_events_info)


# Display info for stores_table
print("Stores Table Info:")
print ('=' * 50)
stores_table_info = stores_table.info()
display(stores_table_info)


# Display info for oil_table
print("Oil Table Info:")
print ('=' * 50)
oil_table_info = oil_table.info()
display(oil_table_info)

Holiday Events Info:
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

None

Stores Table Info:
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_nbr  54 non-null     int64
 1   city       54 non-null     object
 2   state      54 non-null     object
 3   type       54 non-null     object
 4   cluster    54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB

None

Oil Table Info:
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB

None

In [20]:

# Display missing value counts for holiday_events
print("Holiday Events Missing Values:")
print('=' * 50)
holiday_events_missing = holiday_events.isnull().sum()
display(holiday_events_missing)

# Display missing value counts for stores_table
print("\nStores Table Missing Values:")
print('=' * 50)
stores_missing = stores_table.isnull().sum()
display(stores_missing)

# Display missing value counts for oil_table
print("\nOil Table Missing Values:")
print('=' * 50)
oil_missing = oil_table.isnull().sum()
display(oil_missing)

Holiday Events Missing Values:
==================================================

date           0
type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64

Stores Table Missing Values:
==================================================

store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64

Oil Table Missing Values:
==================================================

date           0
dcoilwtico    43
dtype: int64

In [22]:
# Display shape information for holiday_events
print("Holiday Events Shape:")
print('=' * 50)
holiday_events_shape = holiday_events.shape
print("Number of rows:", holiday_events_shape[0])
print("Number of columns:", holiday_events_shape[1])

# Display shape information for stores_table
print("\nStores Table Shape:")
print('=' * 50)
stores_shape = stores_table.shape
print("Number of rows:", stores_shape[0])
print("Number of columns:", stores_shape[1])

# Display shape information for oil_table
print("\nOil Table Shape:")
print('=' * 50)
oil_shape = oil_table.shape
print("Number of rows:", oil_shape[0])
print("Number of columns:", oil_shape[1])

Holiday Events Shape:
==================================================
Number of rows: 350
Number of columns: 6

Stores Table Shape:
==================================================
Number of rows: 54
Number of columns: 5

Oil Table Shape:
==================================================
Number of rows: 1218
Number of columns: 2

In [23]:
# Display descriptive statistics for holiday_events
print("Holiday Events Descriptive Statistics:")
print('=' * 50)
holiday_events_describe = holiday_events.describe()
display(holiday_events_describe)

# Display descriptive statistics for stores_table
print("\nStores Table Descriptive Statistics:")
print('=' * 50)
stores_describe = stores_table.describe()
display(stores_describe)

# Display descriptive statistics for oil_table
print("\nOil Table Descriptive Statistics:")
print('=' * 50)
oil_describe = oil_table.describe()
display(oil_describe)

Holiday Events Descriptive Statistics:
==================================================

              date     type    locale locale_name description transferred
count          350      350       350         350         350         350
unique         312        6         3          24         103           2
top     2014-06-25  Holiday  National     Ecuador    Carnaval       False
freq             4      221       174         174          10         338

Stores Table Descriptive Statistics:
==================================================

       store_nbr    cluster
count  54.000000  54.000000
mean   27.500000   8.481481
std    15.732133   4.693395
min     1.000000   1.000000
25%    14.250000   4.000000
50%    27.500000   8.500000
75%    40.750000  13.000000
max    54.000000  17.000000

Oil Table Descriptive Statistics:
==================================================

        dcoilwtico
count  1175.000000
mean     67.714366
std      25.630476
min      26.190001
25%      46.405001
50%      53.189999
75%      95.660000
max     110.620003